:host {
margin-bottom: 1rem;
}

h2 {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: stretch;
  margin-bottom: 1rem;

  mat-form-field {
    flex: 1 1 auto;
    margin: 0 1rem;
  }

  .spacer {
    flex: 1 1 auto;
  }

  a {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button:not(:last-child) {
    margin-right: 1rem;
  }
  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
    mat-form-field {
      width: 100%;
      margin: 0;
    }
    margin-bottom: 1rem;
  }
}
