:host {

}

h2 {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: stretch;

  mat-form-field {
    flex: 1 1 auto;
    margin: 0 1rem;
  }
  .spacer {
    flex: 1 1 auto;

  }
}
