<mat-card class="grey" *ngIf="password">
  <h2>
    {{password.item.title}}
    <mat-icon>{{password.item.icon}}</mat-icon>
  </h2>
  <div class="container">
    <mat-form-field>
      <input readonly matInput placeholder="Input" [value]="password.item.login">
    </mat-form-field>
    <mat-form-field>
      <input readonly matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
             [value]="password.item.password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <button (click)="copyToClipboard()" mat-icon-button matSuffix [attr.aria-label]="'Copy password'">
        <mat-icon>filter_none</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="container">
    <a mat-button color="primary" [href]="password.item.url">{{password.item.url}}</a>
    <span class="spacer"></span>
    <button (click)="deletePassword(password)" color="warn" mat-mini-fab aria-label="Delete this password">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button (click)="showEditDialog()" color="primary" mat-mini-fab aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</mat-card>
