<mat-card class="passwords">
  <p *ngIf="!passwords" class="no-passwords">You haven't saved passwords yet.
    <button (click)="showAddDialog()" mat-button color="accent">Add Password</button>
  </p>
  <mat-list *ngIf="passwords">
    <mat-list-item matRipple *ngFor="let password of passwords; index as i"
                   [class.selected]="selectedPasswordIndex===i"
                   (click)="selectedPasswordIndex=i">
      <mat-icon mat-list-icon>{{password.icon || 'burst_mode'}}</mat-icon>
      <h4 mat-line>{{password.title}}</h4>
      <p mat-line>{{password.login}}</p>
    </mat-list-item>
  </mat-list>
  <mat-card class="grey" *ngIf="passwords && selectedPasswordIndex!==undefined">
    <p>{{passwords[selectedPasswordIndex].login}}</p>
    <p>{{passwords[selectedPasswordIndex].password}}</p>
    <p>{{passwords[selectedPasswordIndex].url}}</p>
  </mat-card>
</mat-card>
