:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.passwords {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 1rem;

  mat-list {
    flex: 1 1 auto;
    margin-right: 1rem;
  }


  .selected {
    background: #f5f5f5;
  }
}

.no-passwords {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
}
