<mat-card class="passwords">
  <mat-list>
    <mat-list-item matRipple *ngFor="let password of passwords; index as i"
                   [class.selected]="selectedPasswordIndex===i"
                   (click)="selectedPasswordIndex=i">
      <mat-icon mat-list-icon>{{password.icon || 'burst_mode'}}</mat-icon>
      <h4 mat-line>{{password.title}}</h4>
      <p mat-line>{{password.login}}</p>
    </mat-list-item>
  </mat-list>
  <mat-card class="grey" *ngIf="selectedPasswordIndex!==undefined">
    <p>{{passwords[selectedPasswordIndex].login}}</p>
    <p>{{passwords[selectedPasswordIndex].password}}</p>
    <p>{{passwords[selectedPasswordIndex].url}}</p>
  </mat-card>
</mat-card>
