:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  flex: 1 1 auto;

  .content {
    padding: 2rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    background: #eceff1;
  }
}

.profile-photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 .5rem;
}


.menu {
  min-width: 14rem;
  padding: 1rem;
}
