<mat-toolbar color="primary" *ngIf="user">
  <span>Passwords Manager</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <img class="profile-photo" [src]="user.photoUrl" [alt]="user.displayName">
    {{user.displayName}}
  </button>
  <mat-menu #userMenu="matMenu">
    <button (click)="authenticationService.logout()" mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="container" *ngIf="user" autosize>
  <mat-drawer #drawer opened class="sidenav" mode="side">
    <p>{{user.displayName}}</p>
  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
