<mat-form-field>
  <input matInput [(ngModel)]="password.title" name="title" placeholder="Title">
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="password.login" name="login" placeholder="Login">
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="password.password" name="password" placeholder="Password">
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="password.url" name="url" placeholder="URL">
</mat-form-field>

<div class="buttons">
  <button mat-stroked-button color="warn" (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
