<div class="icons">
  <button (click)="password.icon=icon" [color]="icon===password.icon?'accent':null" mat-icon-button *ngFor="let icon of availableIcons">
    <mat-icon>{{icon}}</mat-icon>
  </button>
</div>
<mat-form-field>
  <input matInput [(ngModel)]="password.title" name="title" placeholder="Title">
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="password.login" name="login" placeholder="Login">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Password" [(ngModel)]="password.password" name="password"
         [type]="hide ? 'password' : 'text'"
         [value]="password.password">
  <button [matMenuTriggerFor]="generatorMenu" (click)="generatePasswords()" mat-icon-button matSuffix
          [attr.aria-label]="'Copy password'">
    <mat-icon>settings_ethernet</mat-icon>
  </button>
  <mat-menu #generatorMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="password.password = generatedPassword"
            *ngFor="let generatedPassword of passwords">{{generatedPassword}}</button>
  </mat-menu>
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <span matPrefix>https://&nbsp;</span>
  <input matInput [(ngModel)]="password.url" name="url" placeholder="URL">
</mat-form-field>

<div class="buttons">
  <button mat-stroked-button color="warn" (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
