h2 {
  margin: 0;
}

mat-form-field {
  margin: 1rem 0;
}

.flex {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  align-items: center;

  button {
    margin-left: 1rem;
  }
}

